h1 {
    color:
    font-family : 50px;

  }
  p {color :white}
  h2 {color:white;
  font-family: 25em ;}

body {background-color: slateblue;}
a {color: white;}
p {font-size: 35px;}
h2 {font-size: 40px;}